
/* VARIABLES & GLOBAL */
html{
  --font-name: 'Poppins', sans-serif;
  --font-body: 'Dosis', sans-serif;
  --color-main: #052C25;
  --color-second:#f4f1ee;
}

body{
  background-color: var(--color-second);
}



