.AboutSection{
    
    height: 100%;
    background-color: var(--color-second);
}
.MoreAbout{
    max-width: 700px;
    text-align: left;
    display:flex;
    flex-direction: column;
    padding: 5%;
    margin: 10% 20% 3% 22%;
    
}
.MoreAbout h3{
    font-size:25px;
    color: black;
    text-align: center;
    font-family: var(--font-body);
}

.MoreAbout p{
    font-size: 18px;
    color: black;
    font-family: var(--font-body);
    
}
.MoreAbout img{
    margin-left:20%;
    margin-bottom: 5%;
    border: 3px solid #c97467;
    
}