.Navigation{
    background-color: var(--color-main);
   
}
.NavContainer{
    display:flex;
    justify-content: space-between;
    
}

.Name h1{
    font-family: var(--font-name);
    color: var(--color-second);
    font-size: 35px;
    margin-left:35px;
    
}
.color-dot{
    color: #564eff;
}

.nav-buttons button{
    background-color: var(--color-second);
    font-family: var(--font-name);
   border-radius: 25px;
    color: black;
    font-size: 14px;
    font-weight: 600;
    width: 125px;
    height: 30px;
    border: none;
   margin:35px;
}

