.Navigation{
    background-color: var(--color-principal);
   
}
.NavContainer{
    display:flex;
    justify-content: space-between;
    
}

.Name h1{
    font-family: var(--font-name);
    color: var(--color-second);
    font-size: 35px;
    margin-left:35px;
    
}
.color-dot{
    color: #564eff;
}

.nav-btn{
    background-color: var(--color-second);
    font-family: var(--font-name);
    color: black;
    font-size: 14px;
    font-weight: 600;
    border: none;
   margin:15px;
}

.nav-btn:hover{
    background-color:#564eff;
    color: var(--color-second);
}

