.ProjectsContainer{
    height: 100%;
    background-color: var(--color-second);

}

.ProjectsList h4{
    font-size:25px;
    color: black;
    text-align: center;
    font-family: var(--font-body);
    padding-top: 50px;
}

.ProjectsList p{
    text-align: center;
    font-size: 18px;
    color: black;
    font-family: var(--font-body);
}
.projectCard{
    display: flex;
    flex-wrap: wrap;
    
}
.custom-btn{
    background-color: var(--color-first);
    border-color: var(--color-first);
    font-family: var(--font-name);
    font-size: 18px;
    

}

.custom-btn:hover{
    background-color:#564eff;
    border-color: #564eff;
}

