.SkillContainer{
height: 70vh;
}

.SkillContainer h3{
    font-size:25px;
    color: var(--color-second);
    text-align: center;
    font-family: var(--font-body);
    padding-top: 50px;
}

.Skill-List{
    display: flex;
    justify-content: space-evenly;
    margin-top:45px;

}